            <section class="certificates-section section">
                <h2 class="section-title"><i class="fa {{ .Site.Params.certificates.icon }}"></i>{{ i18n "certificates" }}</h2>
                <div class="headline"></div>
                <div class="certificateset">
				{{ range .Site.Params.certificates.list }}
                    <div class="item">
                        {{ with .title }}<h3 class="level-title">{{.}}</h3>{{end}}
                        <div class="level-img">
                            <img src="{{ .url | absURL }}" alt="{{ .alt }}">
                        </div>
                    </div>
                {{ end }}
                </div>
            </section><!--//certificates-section-->
