            <hr class="small-hr">
            <div class="references-container container-block">
                <h2 class="container-block-title">{{ i18n "references" }}</h2>
				{{ range .Site.Params.references.list }}
                <div class="items">
                    <h4 class="degree">{{ .name }}</h4>
                    <a class="meta" href="tel:{{ .phone }}">{{ .phone }}</a>
                    <a class="time" href="mailto:{{ .email }}">{{ .email }}</a>
                </div><!--//item-->
				{{ end }}
            </div><!--//references-container-->
