            <section class="skills-section section">
                <h2 class="section-title"><i class="fa {{ .Site.Params.skills.icon }}"></i>{{ i18n "skills" }}</h2>
                <div class="headline"></div>
                <div class="skillset">
				{{ range .Site.Params.skills.list }}
                    <div class="item">
                        <h3 class="level-title">{{ .skill }}</h3>
                        {{ with .details }}
                        <p>{{.}}</p>
                        {{ end }}
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="{{ .level }}">
                            </div>
                        </div>
                    </div>
                {{ end }}
                </div>
            </section><!--//skills-section-->
