            <section class="section summary-section">
                <h2 class="section-title"><i class="fa {{ .Site.Params.summary.icon }}"></i>{{ i18n "summary" }}</h2>
                <div class="headline"></div>
                <div class="summary">
                    <p>{{ with .Site.Params.summary.summary }}{{ . | markdownify }}{{ end }}</p>
                </div><!--//summary-->
                {{ if .Site.Params.summary.keywordsAsTags }}
                <div class="tags">
                    {{ range .Site.Params.keywords }}
                    <span class="label label-info">{{ . }}</span>
                    {{ end }}
                </div> <!--//tags-->
                {{ end }}
            </section><!--//section-->
